@model List<TESIS002.Models.CitaModel>
@{
    ViewBag.Title = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


<h2 style="text-align:center">Citas Médicas</h2>
<br />
<div class="table-responsive">
    <table class="table">
        <tr>
            <th scope="col">Paciente</th>
            <th scope="col">Historia Cl&iacute;nica</th>
            <th scope="col">C&eacute;dula</th>
            <th scope="col">M&eacute;dico</th>
            <th scope="col">Pagado</th>
            <th scope="col">Enfermer&iacute;a</th>
            <th scope="col">Atenci&oacute;n</th>
            <th scope="col">Facturado</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        @foreach (var cita in Model)
        {
        <tr>
            <td scope="col">@cita.Paciente.NombrePaciente</td>
            <td scope="col">@cita.Paciente.HistoriaClinicaPaciente</td>
            <td scope="col">@cita.Paciente.CedulaPaciente</td>
            <td scope="col">@cita.Medico</td>
            <td scope="col">@cita.Pagado</td>
            <td scope="col">@cita.Enfermeria</td>
            <td scope="col">@cita.Atencion</td>
            <td scope="col">@cita.Facturado</td>
            <td scope="col">
                <form action="CambiarEstado" method="post">
                    <input name="Pagado" value="SI" hidden />
                    <button name="IdCita" value="@cita.IdCita" style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:35px; height:30px; cursor: pointer" type="submit">
                        <i class="far fa-money-bill-alt"></i>
                    </button>
                </form>
            </td>
            <td scope="col">
                <form action="../Enfermeria/IngresarSignosVitales" method="post">
                    <input name="" value="" hidden />
                    <button name="IdCita" value="@cita.IdCita" style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:35px; height:30px; cursor: pointer" type="submit">
                        <i class="fas fa-user-md"></i>
                    </button>
                </form>
            </td>
            <td scope="col">
                <form action="CambiarEstado" method="post">
                    <input name="Facturado" value="SI" hidden />
                    <button name="IdCita" value="@cita.IdCita" style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:35px; height:30px; cursor: pointer" type="submit">
                        <i class="fas fa-file-invoice-dollar"></i>
                    </button>
                </form>
            </td>
            <td scope="col">
                <form action="#" method="post">
                    <button name="IdCita" value="@cita.IdCita" style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:35px; height:30px; cursor: pointer" type="submit">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </td>
        </tr>
        }
    </table>
</div>
<br />
<div class="text-center">
    <button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer">ELIMINAR</button>
    <button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer">MODIFICAR</button>
    <button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer">FACTURAR</button>
    <button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer" onclick="location='../Cita/Ingresar'">NUEVA</button>
</div>


    