@model TESIS002.Models.PacienteModel

@{
	ViewBag.Title = "Ingresar";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Ingresar Paciente</h2>

<form id="IngresarPaciente" action="Ingresar" method="post">
	<div class="text-right">
		<p>
			<label>Nº Historia Clinica</label>
			<br />
			<input name="HistoriaClinicaPaciente" style="text-align:left; border-radius:0.3rem; width:200px; height:40px;" />
		</p>
	</div>

	<div class="row">
		<div class="col-xl-10">
			<p>
				<label>Nombre Completo</label>
				<input class="col-xl" name="NombreCompletoPaciente" placeholder=" NOMBRES APELLIDOS" style="text-transform: uppercase; text-align:left; border-radius:0.3rem; width:100%; height:40px;" value="@(Model!=null ? Model.NombrePaciente : string.Empty)" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? "disabled" : string.Empty) : string.Empty)/>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xl-3">
			<p>
				<label>Cedula</label>
				<br />
				<input name="CedulaPaciente" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" value="@(Model!=null ? Model.CedulaPaciente : string.Empty)" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? "disabled" : string.Empty) : string.Empty)/>
			</p>
		</div>
		<div class="col-xl-6">
			<p>
				<label>Direccion</label>
				<br />
				<input name="DireccionPaciente" class="col-xl" style="text-transform: uppercase; text-align:left; border-radius:0.3rem; width:100%; height:40px;" value="@(Model!=null ? Model.DirecciónPaciente : string.Empty)" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? "disabled" : string.Empty) : string.Empty)>
			</p>
		</div>
		<div class="col-xl-3">
			<p>
				<label>Telefono</label>
				<br />
				<input name="TelefonoPaciente" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" value="@(Model!=null ? Model.TelefonoPaciente : string.Empty)" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? "disabled" : string.Empty) : string.Empty)/>
			</p>
		</div>

	</div>
	<div class="row">
		<div class="col-xl-3">
			<p>
				<label>Fecha de Nacimiento</label>
				<br />
				<input name="FechaNacimientoPaciente" type="date" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" value="@(Model!=null ? Model.FechaNacimientoPaciente : string.Empty)" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? "disabled" : string.Empty) : string.Empty)/>
			</p>
		</div>
		<div class="col-xl-3">
			<p>
				<label>Genero</label>
				<br>
				<input type="radio" name="genero" value="femenino" /> Femenino
				<input type="radio" name="genero" value="masculino" /> Masculino <br>
			</p>
		</div>
		<div class="col-md-3">
			<p>
				<label>Estado Civil</label>
				<br />
				<select name="EstadoCivilPaciente" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? "disabled" : string.Empty) : string.Empty)>
					<option value="soltero" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? (Model.EstadoCivilPaciente.Equals("soltero") ? "selected" : string.Empty) : string.Empty) : string.Empty)>SOLTERO</option>
					<option value="casado" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? (Model.EstadoCivilPaciente.Equals("casado") ? "selected" : string.Empty) : string.Empty) : string.Empty)>CASADO</option>
					<option value="viudo" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? (Model.EstadoCivilPaciente.Equals("viudo") ? "selected" : string.Empty) : string.Empty) : string.Empty)>VIUDO</option>
					<option value="divorciado" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? (Model.EstadoCivilPaciente.Equals("divorciado") ? "selected" : string.Empty) : string.Empty) : string.Empty)>DIVORCIADO</option>
					<option value="union libre" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? (Model.EstadoCivilPaciente.Equals("union libre") ? "selected" : string.Empty) : string.Empty) : string.Empty)>UNION LIBRE</option>
				</select>
			</p>
		</div>
		<div class="col-md-3">
			<p>
				<label>Tipo de Sangre</label>
				<br />
				<select style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? "disabled" : string.Empty) : string.Empty)>
					<option value="A+" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? (Model.TipoSangrePaciente.Equals("A+") ? "selected" : string.Empty) : string.Empty) : string.Empty)>A+</option>
					<option value="A-" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? (Model.TipoSangrePaciente.Equals("A-") ? "selected" : string.Empty) : string.Empty) : string.Empty)>A-</option>
					<option value="B+" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? (Model.TipoSangrePaciente.Equals("B+") ? "selected" : string.Empty) : string.Empty) : string.Empty)>B+</option>
					<option value="B-" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? (Model.TipoSangrePaciente.Equals("B-") ? "selected" : string.Empty) : string.Empty) : string.Empty)>B-</option>
					<option value="AB+" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? (Model.TipoSangrePaciente.Equals("AB+") ? "selected" : string.Empty) : string.Empty) : string.Empty)>AB+</option>
					<option value="AB-" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? (Model.TipoSangrePaciente.Equals("AB-") ? "selected" : string.Empty) : string.Empty) : string.Empty)>AB-</option>
					<option value="O+" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? (Model.TipoSangrePaciente.Equals("O+") ? "selected" : string.Empty) : string.Empty) : string.Empty)>O+</option>
					<option value="O-" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? (Model.TipoSangrePaciente.Equals("O-") ? "selected" : string.Empty) : string.Empty) : string.Empty)>O-</option>
				</select>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xl-3">
			<p>
				<label>Contacto de Emergemcia</label>
				<input name="ContactoEmergenciaPaciente" style="text-transform: uppercase; text-align:left; border-radius:0.3rem; width:100%; height:40px;" value="@(Model!=null ? Model.NombreContactoEmergenciaPaciente : string.Empty)" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? "disabled" : string.Empty) : string.Empty)/>
			</p>
		</div>
		<div class="col-xl-3">
			<p>
				<label>Afinidad</label>
				<input name="AfinidadContactoEmergenciaPaciente" style="text-transform: uppercase; text-align:left; border-radius:0.3rem; width:100%; height:40px;" value="@(Model!=null ? Model.AfinidadContactoEmergenciaPaciente : string.Empty)" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? "disabled" : string.Empty) : string.Empty)/>
			</p>
		</div>
		<div class="col-xl-3">
			<p>
				<label>Telefono</label>
				<input name="TelefonoContactoEmergenciaPaciente" style="text-transform: uppercase; text-align:left; border-radius:0.3rem; width:100%; height:40px;" value="@(Model!=null ? Model.TelefonoContatoEmergenciaPaciente : string.Empty)" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? "disabled" : string.Empty) : string.Empty)/>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xl-12">
			<p>
				<label>Antecedentes</label>
				<br />
				<textarea name="AntecedentesPaciente" type="text" class="col-xl" style="text-transform: uppercase; text-align:left; border-radius:0.3rem; width:100%; height:80px;" value="@(Model!=null ? Model.AntecedentesPaciente : string.Empty)" @(Model != null ? (!string.IsNullOrEmpty(Model.IdPaciente) ? "disabled" : string.Empty) : string.Empty)></textarea>
			</p>
		</div>
	</div>


	<div class="text-center">
		<br />
		<button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer" onclick="location='../Paciente/Mostrar'">GUARDAR</button>
		<button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer" onclick="location='../Paciente/Listar'">SALIR</button>
	</div>
</form>


