<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="../Login/Login">VACARI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuPrincipal" aria-controls="menuPrincipal" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menuPrincipal">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="menuPaciente" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Paciente
                    </a>
                    <div class="dropdown-menu" aria-labelledby="menuPaciente">
                        <a class="dropdown-item" href="../Paciente/Listar">Listar</a>
                        <a class="dropdown-item" href="../Paciente/Ingresar">Ingresar</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="menuCita" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cita
                    </a>
                    <div class="dropdown-menu" aria-labelledby="menuCita">
                        <a class="dropdown-item" href="#">Listar</a>
                        <a class="dropdown-item" href="../Cita/Ingresar">Ingresar</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="menuLaboratorio" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Laboratorio
                    </a>
                    <div class="dropdown-menu" aria-labelledby="menuLaboratorio">
                        <a class="dropdown-item" href="#">Listar</a>
                        <a class="dropdown-item" href="../Laboratorio/Ingresar">Ingresar</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="menuProcedimineto" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Procedimiento
                    </a>
                    <div class="dropdown-menu" aria-labelledby="menuProcedimineto">
                        <a class="dropdown-item" href="#">Listar</a>
                        <a class="dropdown-item" href="../Procedimiento/Ingresar">Ingresar</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="menuContabilidad" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Contabilidad
                    </a>
                    <div class="dropdown-menu" aria-labelledby="menuContabilidad">
                        <a class="dropdown-item" href="#">Ingresos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Egresos</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="menuFacturacion" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Facturación
                    </a>
                    <div class="dropdown-menu" aria-labelledby="menuFacturacion">
                        <a class="dropdown-item" href="#">Facturar</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Anular</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="menuUsuario" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Usuarios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="menuUsuario">
                        <a class="dropdown-item" href="#">Listar</a>
                        <a class="dropdown-item" href="#">Ingresar</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <br />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
